body{
background-image: url("background.jpg");
}

.header{
    margin: 0;
    width: 100%;
    padding: 5px;
    color: black;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 5px 5px 20px black;
    
}

.header_div{
    background-color: white;
    padding: 10px;
    float: none;
    color:black;
    border-radius: 10px;
    box-shadow: 10px 10px 18px black;
}



.para{
    font-family: fantasy;
    box-shadow: 5px 5px 20px black;
    font-size: 20px;
}
.footer{
    background-color: coral;
    color: cornsilk;
    bottom: 0;
    position: fixed;
    width: 100%;
    line-height: 3;

}
canvas{
border:5px ridge black;
box-shadow: 6px 6px 20px white;
margin-top: 360px;
}